* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #353846;
  color: whitesmoke;
  font-family: 'Red Hat Mono', monospace;
  font-weight: bold;
}